/*layout
============================================================= */
.col1, .col2, .col3, .cols {
	float:left;
}
.col1 {
	width:250px;
}
.col2 {
	width:570px;
}
.col3 {
	width:240px;
}
.cols {
	width:78px;
	padding-bottom:0
}

/* Left & Right alignment */
.left {
	float:left
}
.right {
	float:right
}
.wrapper {
	width:100%;
	overflow:hidden
}

.sel_wrapper {
	width:100%;
	overflow:hidden;
	min-height: 450px;
	margin-top: 2em;
}
/* Global properties ======================================================== */
body {
	background:#fff;
	border:0;
	font:12px Arial, Helvetica, sans-serif;
	color:#72716f;
	line-height:20px;
	min-width:1120px
}
.css3 {
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	-webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);
	position:relative
}
/* Global Structure ============================================================= */
.main {
	margin:0 auto;
	width:960px;
	padding:0 6px
}
.box {
	background:#12110f;
	box-shadow:0 0 6px #000;
	-moz-box-shadow:0 0 6px #000;
	-webkit-box-shadow:0 0 6px #000;
	position:relative
}
/* ============================= main layout ====================== */
a {
	color:#72716f;
	text-decoration:underline;
	outline:none
}
a:hover {
	text-decoration:none
}
h1 {
	padding:40px 0 0 38px;
	float:left
}
h2 {
	font-size:21px;
	line-height:1.2em;
	padding:6px 0 15px 0;
	color:#000;
	letter-spacing:-1px
}
h2 img {
	margin-right:15px;
	float:left
}
p {
	padding-bottom:20px
}
/* ============================= header ====================== */
header {
	height:110px
}
h1 {
    margin: 1em 0 0.5em 0;
    font-family: 'Carrois Gothic', sans-serif; 
    font-size: 36px;
    color: #442D0E;
    font-weight: normal;
    position: relative;
    text-shadow: 0 2px 0 rgba(255,255,255,0.5);
}
#logo {
	float:left;
}
.department {
	float:right;
	padding:37px 35px 0 0;
	color:#72716f;
	text-align:right
}
#menu {
	background:#fff;
	padding:10px 2px;
	height:39px;
	margin-bottom:10px
}
#menu > li {
	border-right:1px solid #f2f2f2;
	float:left
}
#menu .last {
	border:0
}
#menu > li > a {
	display:block;
	padding:0 62px;
	font-size:16px;
	color:#12110f;
	text-decoration:none;
	line-height:39px
}
#menu > li > a:hover, #menu > .active > a {
	color:#f3b21d
}
/* ============================= content ====================== */
#content {
}
.box1 {
	background:#fff;
	padding:10px
}
.box1 h2 {
	color:#12110f;
	padding:7px 0 14px 0
}
/* =========== kwiks slider ========= */
.kwicks-wrapper {
	width:640px;
	overflow:hidden
}
.kwicks {/* recommended styles for kwicks ul container */
	list-style:none;
	position:relative;
	margin:0;
	padding:0 !important;
	overflow:hidden;
	height:414px;
	background:none
}
.kwicks li {/* these are required, but the values are up to you (must be pixel) */
	width:160px;
	height:414px;/*do not change these */
	display:block;
	overflow:hidden;
	padding:0 !important; /* if you need padding, do so with an inner div (or implement your own box-model hack) */
	cursor:pointer;
	background:none !important;
}
.kwicks.horizontal li {/* This is optional and will be disregarded by the script. However, it should be provided for non-JS enabled browsers. */
	margin-right:0;/*Set to same as spacing option. */
	float:left
}

iframe {
	float: left;
}

.error {
	display: inline;
	color: red;
}

.success {
	display: inline;
	color: green;
}

table {
	border: 1px solid black;
	text-align: center;
}
td {
	min-width: 7em;
}
/* ============================= footer ====================== */
footer {
	height:44px;
}
#icons {
	padding-top:5px;
	float: right
}
#icons li {
	float:right;
	padding-right:11px
}